.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 100%;
  background-color: white;
}
.item {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 1rem;
}

.content h3 {
  font-size: 20px;
  color: #2c292b;
}

.actions {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black;
}

.actions button {
  width: 50%;
  font: inherit;
  cursor: pointer;
  background-color: #008080;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #008090;
  border-radius: 4px;
  font-weight: bold;
  margin: 15px;
}

.actions button:hover,
.actions button:active {
  background-color: rgb(11, 121, 121);
  border-color: teal;
}

@media (max-width: 575.98px) {

  .content h3 {
    font-size: 16px;
    color: #2c292b;
  }


  .actions button {
    width: 95%;
    border-radius: 6px;
    font-weight: inherit;
  }
}
