.header {
  display: flex;
  width: 100%;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 7px 17%;

  z-index: 10;
  position: sticky;
  top: 0;
}
.header nav {
  display: flex;
  font-size: 20px;
  align-items: center;
}
.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 1.6rem;
}

.header ul a:hover,
.header ul a:active,
.header ul a.active {
  color: rgba(0, 0, 0, 0.7);
}

.btn {
  opacity: 1;
  background-color: teal;
  border-radius: 5px;
  color: white;
  margin-left: 2rem;
  box-shadow: 0 3px 8px -3px rgba(110, 20, 20, 0.61);
  margin-top: 2px;
  padding: 7px 15px;
  font-size: 16px;
  flex-direction: row;
}
/* applies to x.small devices (portrait phones, less than 575.98 px )*/
@media (max-width: 575.98px) {
  .header {
    flex-direction: column;
    align-items: start;
    margin-bottom: 18px;
    padding: 10px 4%;
  }
  .header nav {
    font-size: 16px;
    align-items: centr;
  }
  
  .header li {
    margin-left: 0.9rem;
  }
  
  .header ul a:hover,
  .header ul a:active,
  .header ul a.active {
    color: rgba(0, 0, 0, 0.7);
  }
  
  .btn {
    margin-left: 0.9rem;
    margin-right: 0.9rem;
    margin-top: 2px;
    padding: 7px 15px;
    font-size: 17px;
  } 
}
