.actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  text-align: right;
}

.button {
  font: inherit;
  cursor: pointer;
  background-color: #000;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 7px;
  font-weight: bold;
  font-size: 25px;
}

.button:hover,
.button:active {
  background-color: rgb(36, 35, 35);
}
@media (max-width: 575.98px) {
  .actions {
    display: flex;
    margin-top: 1rem;
  }

  .button {
    padding: 0.5rem 1.5rem;
    border-radius: 7px;
    font-weight: bold;
    font-size: 22px;
  }
}
